<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myFbLogin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>614F9AEC1DEFAB2200886E85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>614F9B001DEFAB2200886E85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>614F9B0B1DEFAB2200886E85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
